* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background: url(images/pattern-background-mobile.svg), hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.card {
  justify-content: center;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  width: 80%;
  margin: 0em .5em 0em .5em;
  box-shadow: 0 15px 25px 0 hsla(245, 75%, 52%, 0.15);
}

.hero-image img {
  width: 100%;
  height: auto;
}

p {
  color: hsl(224, 23%, 55%);
}

.title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
}

.text {
  line-height: 1.5em;
  padding: 1em 2em 1em 2em;
  text-align: center;
}

.selected-plan {
  background-color: hsl(225, 100%, 98%);
  border-radius: 7px;
  font-size: .85em;
  display: flex;
  margin: 1em 0.75em 1em 0.75em;
  align-self: center;
  padding: 1em;
}

.plan-left {
  display: flex;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
  text-align: left;
  gap: 0.2em;
}

.plan-right {
  align-self: center;
  flex-grow: 2;
  text-align: end;
}

.plan-right a:hover {
  cursor: grab;
  text-decoration: none;
  color: hsl(245, 55%, 52%);
  font-weight: 500;
}

.selected-plan h2 {
  font-size: 0.85em;
  margin: 0;
}

.selected-plan p {
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 2em 2em 2em 2em;
  gap: 1.5em;
}

.btn-proceed {
  display: block;
  background-color: hsl(245, 75%, 52%);
  box-shadow: 0 15px 25px 0 hsla(245, 75%, 52%, 0.15);
  border-radius: 10px;
  border: hidden;
  font-family: "Red Hat Display", sans-serif;
  color: white;
  line-height: 1.5em;
  padding: 0.5em 0em 0.5em 0em;
}

.btn-proceed:hover {
  cursor: grab;
  background-color: hsl(245, 55%, 52%);
  text-shadow: 0 0 6px white;
}

.btn-cancel {
  background-color: transparent;
  border-radius: 10px;
  border: hidden;
  font-family: "Red Hat Display", sans-serif;
  color: hsla(245, 55%, 52%, 0.80);
  font-weight: 500;
  font-size: .9em;
  line-height: 1em;
  padding: 0.3em 0em 0.3em 0em;
}

.btn-cancel:hover {
  color: hsla(245, 15%, 52%, 0.80);
  cursor: grab;
  font-weight: 900;
  font-size: .9em;
}

.title,
h2 {
  color: hsl(223, 47%, 23%);
}

.attribution {
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  body {
    background: url(images/pattern-background-desktop.svg), hsl(225, 100%, 94%);
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
  }

  .card {
    max-width: 40%;
  }

  .selected-plan {
    font-size: 1em;
    margin: 0.5em 2em 0.5em 2em;
  }
}

@media screen and (min-width: 992px) {
  .card {
    max-width: 30%;
  }
  .selected-plan {
    font-size: 1em;
    margin: 0.5em 2em 0.5em 2em;
  }
}

@media screen and (min-width: 1200px) {
    .selected-plan {
    font-size: 1em;
    margin: 0.5em 4em 0.5em 4em;
  }
}
